@use '../utils/functions' as f;

$space-112: f.rem(112);
$space-80: f.rem(80);
$space-72: f.rem(72);
$space-64: f.rem(64);
$space-56: f.rem(56);
$space-40: f.rem(40);
$space-32: f.rem(32);
$space-24: f.rem(24);
$space-16: f.rem(16);
$space-8: f.rem(8);
$space-4: f.rem(4);
