/* text styles -  buttons */
/* text styles - Mobile */
/* text styles - tablet */
/* text styles - desktop */
/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

:root {
  --cyan-600: hsl(192, 37%, 48%);
  --cyan-300: hsl(192, 90%, 77%);
  --purple-600: hsl(268, 34%, 53%);
  --purple-300: hsl(268, 100%, 86%);
  --slate-900: hsl(240, 21%, 20%);
  --slate-600: hsl(240, 10%, 57%);
  --slate-300: hsl(240, 18%, 85%);
  --white: hsl(0, 0%, 98%);
}

/* Hiding class, making content visible only to screen readers but not visually */
.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

html,
body {
  font-family: "Red Hat Display", serif;
  font-optical-sizing: auto;
  background-color: var(--white);
}

.header__logo {
  margin-top: 3rem;
  margin-inline: auto;
}

/* Button defaults */
span.version {
  color: var(--cyan-300);
}

button {
  cursor: pointer;
  padding: 16px 40px;
  border-radius: 29px;
}

.banner {
  display: block;
  margin-top: 4rem;
}
.banner__image-container {
  background-image: url("../assets/tablet/image-hero.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100vw;
  height: 18.9375rem;
  margin-inline: -2rem;
}
@media screen and (min-width: 1440px) {
  .banner__image-container {
    height: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 1440px;
    margin-inline: auto;
  }
}
.banner__image-desktop-left {
  display: none;
}
@media screen and (min-width: 1440px) {
  .banner__image-desktop-left {
    display: block;
    grid-column: 1/4;
  }
}
.banner__image-desktop-right {
  display: none;
}
@media screen and (min-width: 1440px) {
  .banner__image-desktop-right {
    display: block;
    grid-column: 10/-1;
  }
}
.banner__content {
  text-align: center;
  margin-top: 3rem;
  margin-inline: 2rem;
  max-width: 18.9375rem;
  margin-inline: auto;
}
@media screen and (min-width: 768px) {
  .banner__content {
    margin-top: 4.5rem;
    max-width: 28rem;
  }
}
.banner__title {
  color: var(--slate-900);
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1.1;
}
.banner__intro {
  color: var(--slate-600);
  margin-block: 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}
.banner .button__container {
  display: grid;
  gap: 17px;
  justify-items: center;
}
@media screen and (min-width: 768px) {
  .banner .button__container {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: stretch;
  }
}
.banner__button-download {
  background-color: var(--cyan-600);
  color: var(--white);
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.5;
}
.banner__button-download:hover {
  background-color: #71c0d4;
}
.banner__button-info {
  background-color: var(--purple-600);
  color: var(--white);
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.5;
}
.banner__button-info:hover {
  background-color: #b18bdd;
}

.main {
  display: grid;
  justify-items: center;
  margin-inline: 2rem;
  margin-block: 4rem;
  text-align: center;
}
.main__number-container {
  display: grid;
  justify-items: center;
  margin-top: 7.5rem;
}
.main__number-container:last-child {
  margin-top: 4rem;
  margin-bottom: -6rem;
  z-index: 2;
}
.main__number-border {
  width: 1px;
  height: 80px;
  background-color: var(--slate-600);
}
.main__number {
  color: var(--slate-600);
  background-color: var(--white);
  border: 1px solid var(--slate-600);
  padding: 16px 19px;
  width: fit-content;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.5;
}
.main__container-photos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-block: 4rem;
  max-width: 70rem;
}
@media (min-width: 600px) {
  .main__container-photos {
    grid-template-columns: repeat(4, 1fr);
  }
}
.main__photo {
  border-radius: 10px;
  aspect-ratio: 1/1;
}
.main__subtitle {
  color: var(--cyan-600);
  font-size: 0.75rem;
  font-weight: 900;
  line-height: 1.1;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.main__title {
  color: var(--slate-900);
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.1;
}
.main__description {
  color: var(--slate-600);
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .main__description {
    max-width: 31.5rem;
  }
}

.footer {
  position: relative;
  background-color: var(--cyan-600);
  background-image: url("../assets/desktop/image-footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 4rem 2rem;
}
.footer__container {
  display: grid;
  align-items: center;
  max-width: 70rem;
  margin-inline: auto;
}
@media screen and (min-width: 1000px) {
  .footer__container {
    grid-template-columns: repeat(12, 1fr);
  }
}
.footer__container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  background-color: var(--cyan-600);
}
.footer__title {
  position: relative;
  color: var(--white);
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.1;
}
@media screen and (min-width: 1000px) {
  .footer__title {
    grid-column: 1/4;
    text-align: left;
  }
}
.footer__description {
  position: relative;
  color: var(--slate-300);
  margin-top: 1.5rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}
@media screen and (min-width: 1000px) {
  .footer__description {
    max-width: 31.5rem;
    grid-column: 5/9;
    text-align: left;
    margin-top: 0;
  }
}
.footer__button-download {
  position: relative;
  margin-top: 1.5rem;
  background-color: var(--purple-600);
  color: var(--white);
  max-width: 12.0625rem;
  margin-inline: auto;
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.5;
}
@media screen and (min-width: 1000px) {
  .footer__button-download {
    grid-column: 10/13;
    margin-top: 0;
  }
}
.footer__button-download:hover {
  background-color: #b18bdd;
}
.footer .version {
  color: var(--purple-300);
}

/*# sourceMappingURL=styles.css.map */
